//@import '../../../assets/css/MDB-Free_4.7.5/css/mdb.min.css';

.toolbar1 {
    width: 100%;
    height: 50px;
    background: white;
    overflow: auto;
    box-shadow: 10px 10px 100px grey;
}
.toolbar-button {
    height: 50px;
    background: white;
    border-right: 1px solid lightgray;
}