.dash {
    overflow: scroll;
    background: url('../../assets/images/header-bg.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img-col {
    background: url('../../assets/images/dentaid2.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}