<div class="dash">
  <app-toolbar></app-toolbar>
  <div class="container-fluid" style="margin:0%">
    <div class="row">
      <div class="col-md-9">
        <div class="row" style="padding-top: 1em; padding-left: 1em;">
          <div class="jumbotron" style="width: 100%">
            <h2>OPG Client Uploads</h2>
            <div ngxViewer>
              <div *ngFor="let image of imageUrlList">
                <h4 style="text-align: center;">{{image.filename}}</h4>
                <img [src]=image.imageUrl style="width: 80%; height: 80%; object-fit: contain; padding:1em;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center;">
        <img src="../../assets/images/dentaiddiag.png" width="200px;" style="margin-top: 3em;">
      </div>
    </div>
  </div>
</div>
